/* General Styles */
* General Styles */ body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(16, 230, 230, 0.164);
}

header {
    background-color: rgba(22, 247, 225, 0.253);
    padding: 1em;
}

header .logo img {
    height: 50px;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(57, 116, 116);
    text-decoration: double;
}

main {
    padding: 2em;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    background-color: rgba(0, 255, 255, 0.137);
    /* color: rgba(38, 98, 121, 0.836); */
}

/* product grid */
.products .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

.product-card {
    background-color: rgba(122, 247, 247, 0.616);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card button {
    margin-top: 2rem;
    padding: .5rem;
    background-color: rgba(24, 226, 226, 0.705);
    color: rgba(33, 35, 36, 0.938);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: rgb(35, 161, 161);
}

.services h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.services p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15px;
    padding: 20px;
    align-items: center;
    background-color: rgba(172, 255, 255, 0.534);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* form styles */
#booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    background-color: rgba(0, 255, 255, 0.123);
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#booking-form input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #75ebe1de;
}

#booking-form button {
    padding: 10px;
    font-size: 1rem;
    background-color: #31c8d39f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#booking-form button:hover {
    background-color: rgba(0, 255, 255, 0.473);
    color: rgb(30, 37, 37);
}

/* footer style */
footer {
    background-color: rgb(68, 252, 252);
    color: rgba(0, 0, 0, 0.822);
    text-align: center;
    padding: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}